<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@7/dist/polyfill.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.1/leaflet.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.1/leaflet.js" type="text/javascript"></script>

<svg id="gradients" width="1" height="1">
   <defs>
       <linearGradient id="nitrogen" x1="0%" y1="100%" x2="0%" y2="0%">
           <stop offset="5%" style="stop-color:#1D022D;stop-opacity:0.8" />
           <stop offset="70%" style="stop-color:#9F07F7;stop-opacity:0.9" />
           <stop offset="100%" style="stop-color:#F7C9FF;stop-opacity:1" />
       </linearGradient>
   </defs>
</svg>
